gw0.log 
.pids
st1.log
testbed/*.deb
.ssh_config
.vagrant
doc/*.png
*.o
*.lo
*.la
*.pcap
encap/src/common/.libs
*.buildinfo
*.changes
*.dsc
*.tar.xz
*.log
Makefile
Makefile.in
.vscode
c/src/common/.libs/
c/CMakeCache.txt
c/CMakeFiles/
c/COPYING
c/INSTALL
c/aclocal.m4
c/autom4te.cache/
c/cmake_install.cmake
c/compile
c/compile_commands.json
c/config.guess
c/config.h
c/config.h.in
c/config.log
c/config.status
c/config.sub
c/configure
c/configure~
c/depcomp
c/install-sh
c/libtool
c/ltmain.sh
c/missing
c/src/CMakeFiles/
c/src/cmake_install.cmake
c/src/common/.deps/
c/src/common/CMakeFiles/
c/src/common/cmake_install.cmake
c/src/common/liblibencaptunnel_common_la.a
c/src/tap_udp/.deps/
c/src/tap_udp/CMakeFiles/
c/src/tap_udp/cmake_install.cmake
c/src/tap_udp/satencap
c/src/tap_udp/satdecap
c/stamp-h1
c/src/tap_udp/Makefile

